version: 2.1

orbs:
  mruby: baldowl/mruby@0.0.5

workflows:
  version: 2
  weekly:
    triggers:
      - schedule:
          cron: "0 5 * * 6"
          filters:
            branches:
              only:
                - master
    jobs:
      - mruby/test:
          version: "master"
  test:
    jobs:
      - mruby/test:
          matrix:
            parameters:
              version: ["2.1.0", "2.1.1", "2.1.2", "3.0.0", "master"]
